@charset "UTF-8";
/* 导航区 */
.index-nav {
    padding: 10px;
}
.index-nav li {
    float: left;
    width: 33.33%;
}

/* 商品区 */
.index-product {
    padding:10px;

}
.index-product a {
    float: left;
    width: 48%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
.index-product a:nth-child(odd) {
    margin-right: 4%;
}
.index-product a .price {
    color: red;
}
.index-product a .oldPrice {
    text-decoration: line-through;
}