@charset "UTF-8";

.nav {
  width: 90px;
  height: 100%;
  /*background-color: blue;*/
  float: left;
  position: relative;
}

.nav a {
  display: block;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: pink;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
}

.nav li.now a {
  background-color: #fff;
  border-right: none;
}


.content {
  height: 100%;
  /*background-color: green;*/
  overflow: hidden;
  position: relative;
}

.content li {
  float: left;
  width: 33.33%;
}

.content li img {
  width: 62px;
  height: 62px;
  margin: 0 auto;
}

.content li p {
  text-align: center;
}

.tips {
  padding: 10px;
  color: #000;
}