@charset "UTF-8";


.nav {
  padding: 10px;
}
.nav li {
  float: left;
  width: 33.33%;
}



.product {
  padding: 10px;
}
.product a {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.product a:nth-child(odd) {
  margin-right: 4%;
}

.product a .price {
  color: red;
}

.product a .oldPrice {
  text-decoration: line-through;
}